name: Flutter CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    
    
jobs:
  build:
    # This job will run on ubuntu virtual machine
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./hadar
    steps:

    # Setup the flutter environment.
    - uses: subosito/flutter-action@v1
      with:
        channel: 'beta' # 'dev', 'alpha', default to: 'stable'
        # flutter-version: '1.12.x' # you can also specify exact version of flutter
        working-directory: ./hadar
    
    # Get flutter dependencies.
    - run: flutter pub get
      working-directory: ./hadar

    # Statically analyze the Dart code for any errors.
    - run: flutter analyze .
      working-directory: ./hadar

    # Run widget tests for our flutter project.
    - run: flutter test
      working-directory: ./hadar
